%animationLeftSlideIn {
  @keyframes leftSlideIn {
    from {
      opacity: 0;
      transform: translateX(-1rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  animation: leftSlideIn 0.3s linear;
}
