// breakpoints
$mobile: 600px;
$tablet: 900px;
$tablet-horizontal: 1200px;
$desktop: 1600px;

// responsive mixin
@mixin mobile {
  @media (max-width: $mobile) {
    :root {
      font-size: 12px;
    }
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    :root {
      font-size: 14px;
    }
    @content;
  }
}

@mixin tablet-horizontal {
  @media (min-width: $tablet) and (max-width: $tablet-horizontal) {
    :root {
      font-size: 16px;
    }
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    :root {
      font-size: 18px;
    }
    @content;
  }
}

@mixin small-height {
  @media (max-height: 680px) {
    @content;
  }
}

@mixin horizontalMode {
  @media (orientation: landscape) {
    @content;
  }
}
