@import "_reset";
@import "_responsive";
@import "_animation";
@import "_variables";

@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,400;1,500;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

main {
  font-family: "Libre Bodoni", serif;
  width: 100%;
  height: 100%;
  color: $mainFontColor;

  @extend %mainBgColor;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  padding: 1rem;

  @include horizontalMode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

article .img-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;

  margin-top: 5rem;

  @extend %defaultBoxShadow;

  @include horizontalMode {
    width: auto;
    height: 100%;
  }

  img {
    width: 100%;
    height: auto;

    @include horizontalMode {
      height: calc(var(--vh, 1vh) * 100);
      width: auto;
    }
  }
}

// 메인

.article__hero {
  align-items: center;
}

.article__hero .logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.2rem;
  height: 2rem;
  filter: invert(100%);

  @include horizontalMode {
    left: 1rem;
  }
}

.article__hero .hero__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;

  margin: -2rem 1rem 0 1rem;

  font-style: italic;
  font-size: 3rem;

  z-index: 3;

  @extend %animationLeftSlideIn;

  span:first-child {
    align-self: flex-start;
  }

  span:last-child {
    align-self: flex-end;
  }
}

// 프로그램 소개

.article__program {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);

  .program__title {
    align-self: center;
    margin-top: 1rem;

    font-weight: bold;
    font-size: 1.5rem;
  }

  .program__img {
    margin-top: 1rem;
  }

  h4 {
    align-self: center;
    margin: 2rem;
    font-size: 2rem;
  }

  .program__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    height: 50vh;
    overflow: scroll;

    font-size: 0.9rem;

    & > li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .music__title {
      align-self: flex-start;
      width: 70%;

      margin-bottom: 1rem;

      font-size: 1rem;

      line-height: 140%;
    }

    .music__composer {
      align-self: flex-end;
      font-style: italic;
    }

    line-height: 140%;

    .music__chapter {
      list-style-position: inside;
      list-style-type: upper-roman;
    }
  }
}

.article__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 80%;

    a {
      display: flex;
      gap: 1rem;

      text-decoration: none;
      color: white;

      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// 버튼

.arrow-down {
  position: absolute;
  bottom: 2rem;

  font-size: 1.5rem;

  transition: 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(5px);
  }
}
